<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="HasLocationHeader">
                        <add input="{RESPONSE_Location}" pattern="." />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:1337/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
 