<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="HasLocationHeader">
                        <add input="{RESPONSE_Location}" pattern="." />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:1337/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <!-- เพิ่มขนาดการอัปโหลด -->
    <security>
      <requestFiltering>
        <!-- 262144000 = 350MB -->
        <requestLimits maxAllowedContentLength="362144000" />
      </requestFiltering>
    </security>
    
    
    </system.webServer>
</configuration>